.container{
  max-width:  var(--gl--cont);
  margin: 0 auto;
  padding: 0 20px;
}
.banner{
  width: 100%;
  height: 160px;
  background-color: var(--main-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}
.title{
  font-family: var(--ff);
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 72px;
text-transform: uppercase;
color: var(--main-bright) ;
}
.routes{
  margin-top: 90px;
  display: flex;
flex-direction: row;
}
.road-to{
  min-height: 30px;
  min-width: 200px;
  color: var(--main-bright);
  text-align: center;
  text-transform: uppercase;
  font-family: var(--ff);
  padding: 10px 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px; 
  background: var(--acc-dark);
  border: 1px solid var(--main-dark);
  margin: 0px 15px 0px 15px ;
}
.road-to:hover,
.router-link-exact-active{
  background-color:var(--acc-bright);
  color: var(--main-dark);
  border: 1px solid var(--main-dark);
  transition:  var(--def-an);

}

.article-wrap{
  display: flex;
  flex-wrap: wrap;
 
}
.art{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
}
.item{
  width: calc(100% / 3 - 15px);
}