.btn {
  min-height: 30px;
  min-width: 200px;
  padding: 20px;
  color: var(--main-bright);
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--ff);
  background: none;
  border: 1px solid var(--main-bright);
  
}
.btn:hover{
  background-color:var( --main-bright);
  color: var(--main-dark);
  border: 1px solid var(--main-bright);
  transition:  var(--def-an);
}