:root{
  // containers
  --hd--cont:1480px;
  --gl--cont:1180px;
  
  
  --ff: 'Kanit', sans-serif;
  

  // 
  --main-dark: black;
  --text-color: #1F1F1D;
  --main-bright:  #FFFFFF;
  --acc-dark: #303030;
  --cli:#FCFCFC;
--cli-bg: #9D9D9D;
--cli-ovrl: rgb(41, 36, 36);

 
  // 
  --def-an: all 0.4s linear;
}